<div class="post">
  <div class="grid-x">
    <div class="cell medium-8 large-8">
      <h2><a href="/post/{{id}}">{{title}}</a></h2>
    </div>
    <div class="cell medium-4 large-4">
      <p>Posted by
        {{user.username}}
        on
        {{format_date created_at}}</p>
    </div>
  </div>
  <div class="row post-body">
    <p>{{content}}</p>
  </div>
</div>